@import '../../styles/_mixins-text.scss';
@import '../../styles/_mixins.scss';

.container-title {
  display: flex;
  .title {
    @include title-h2;
    position: relative;
    margin-bottom: 0;
    &:after{
      @include line(medium);
      transform: translate(-100%, -50%) rotate(-45deg);
      top:50%;
      left: 0;
      height: 6px;
      width: 55px;
    }
  }
  
}
