// COLORS
$white: #FFFFFF;
$primary-color: #F6BE00;
$secondary-color: #041E41;
$title-color: #031C3C;
$text-color: #000000; 
$text-grey: rgba(3, 27, 59, 0.58);;  

// FONTS SIZE

$title-h1: 45px;
$title-h2: 36px;
$title-h3: 22px;
$title-h4: 18px;
$medium: 18px;
$regular: 16px;

// METRICS
$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 30px;
$margin-xl: 50px;

// BREAKPOINTS
$screen-xs: 460px;
$screen-sm: 600px;
$screen-md: 1024px;
$screen-lg: 1200px;



